<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<!-- Navbar -->

<body class="index-page">
    <div class="navbar">
        <div class="brand">G2E Translator</div>
    </div>
    <div class="login-container">
        <h2>Login</h2>
        <form th:action="@{/login}" method="POST">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>

            <button type="submit">Login</button>
        </form>
        <p th:text="${error}"></p>
        <a th:href="@{/register}">Make new account</a>
    </div>
</body>
</html>
